<div class="topBar opened"></div>
<div class="topBarOuter opened">
  <table>
    <tr>
      <td style="vertical-align: middle;">
        <img style="width: 28px;" src="../../logo.png">
      </td>
      <td style="vertical-align: middle; font-size: 23px;">
        Write It Easy
      </td>
    </tr>
  </table>
 
    <!--<i class="material-icons">save</i>
    <i class="material-icons">folder_open</i>
    <i class="material-icons">settings</i>-->
    <!-- <div class="formatButtons">
        <md-icon class="material-icons formatButton" [ngClass]="{'selected': bold}" (click)="setBold()">format_bold</md-icon>
        <md-icon class="material-icons formatButton" [ngClass]="{'selected': italic}" (click)="setItalic()">format_italic</md-icon>
        <md-icon class="material-icons formatButton" [ngClass]="{'selected': underline}" (click)="setUnderline()">format_underlined</md-icon> -->
        <!-- <i class="material-icons formatButton" [ngClass]="{'selected': bold}" (click)="setBold()">format_bold</i>
        <i class="material-icons formatButton" [ngClass]="{'selected': italic}" (click)="setItalic()">format_italic</i>
        <i class="material-icons formatButton" [ngClass]="{'selected': underline}" (click)="setUnderline()">format_underlined</i> -->
    <!-- </div>
    <div class="fontOptions">
        <select class="fontSelect" (change)="fontChanged($event.target.value)">
            <option *ngFor="let option of fonts">{{option}}</option>
        </select>
         <select class="fontSelect" (change)="fontSizeChanged($event.target.value)">
            <option *ngFor="let size of fontsSizes">{{size}}</option>
        </select>
    </div>
    <div class="moreFormatButtons">
        <md-icon class="material-icons formatButton" (click)="indent()">format_indent_increase</md-icon>
        <md-icon class="material-icons formatButton" (click)="reverseIndent()">format_indent_decrease</md-icon> -->
        <!-- <i class="material-icons formatButton" (click)="indent()">format_indent_increase</i>
        <i class="material-icons formatButton" (click)="reverseIndent()">format_indent_decrease</i>         -->
    <!-- </div> -->
    <!-- <div class="quoteButton" (click)="insertReference()">
        <md-icon class="material-icons firstQuote">format_quote</md-icon>
        <md-icon class="material-icons">format_quote</md-icon> -->
        <!-- <i class="material-icons firstQuote">format_quote</i>
        <i class="material-icons">format_quote</i> -->
    <!-- </div> -->
</div>