<div *ngIf="openDialog" class="backShade">
    <div class="dialogBack">
        <div class="dialogHead">
            Add a Quote
        </div>
        <div class="dialogMiddle">   
            <div class="refTypeBox topLabelWrap">
                <div class="topLabel">
                    New Source or Existing Source:
                </div>
                <input type="radio" value="newRef" name="refType" [checked]="isNewRef" (change)="isNewRef = true;">&nbsp;New Source&nbsp;&nbsp;&nbsp;
                <input type="radio" value="existRef" name="refType" [checked]="!isNewRef" (change)="isNewRef = false;">&nbsp;Existing Source
                <hr>
            </div>
            <div *ngIf="isNewRef">                  
                <div class="paddedBox">         
                    Select a source type:
                </div>
                <div class="scrollableBox">
                    <ng-container *ngFor="let refType of referenceTypeOptions; let index = index">
                        <table class="refOption">
                            <tr>
                                <td class="refOptionCell">
                                    <input type="radio" value="refType.type" name="refTypeSelect" [checked]="referenceData.selectedRefType == refType.type" (change)="referenceData.selectedRefType = refType.type; updateFields();">
                                </td>
                                <td class="refOptionCell">
                                    {{refType.display}}
                                </td>
                            </tr>
                        </table>
                        <ng-container *ngIf="index % 4 == 3">
                            <br>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="paddedBox">
                    <hr>
                </div>
            </div>
            <div *ngIf="isNewRef && fieldsToEnter.length > 0" class="paddedBox">
                Provide the source information here:
                <br>
                <ng-container *ngFor="let option of fieldsToEnter; let index = index">
                    <table class="fieldInput">
                        <tr>
                            <td class="midAlign">
                                {{option.display}}:
                            </td>
                            <td class="midAlign">
                                <ng-container [ngSwitch]="option.type">
                                    <ng-container *ngSwitchCase="'authorFML'">
                                        <input type="text" class="nameInput" placeholder="First" [(ngModel)]="referenceData.fieldData[option.display + 'First']">&nbsp;
                                        <input type="text" class="nameInput" placeholder="Middle" [(ngModel)]="referenceData.fieldData[option.display + 'Middle']">&nbsp;
                                        <input type="text" class="nameInput" placeholder="Last" [(ngModel)]="referenceData.fieldData[option.display + 'Last']">
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'dateY'">
                                        <input type="text" class="shortTextInput" placeholder="YYYY" [(ngModel)]="referenceData.fieldData[option.display]">
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'text'">
                                        <input type="text" class="textInput" [placeholder]="option.placeholder" [(ngModel)]="referenceData.fieldData[option.display]">
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'date'">
                                        <input type="text" class="textInput" [placeholder]="option.placeholder" [(ngModel)]="referenceData.fieldData[option.display]">
                                    </ng-container>
                                </ng-container>
                            </td>
                        </tr>
                    </table>
                    <ng-container *ngIf="index % 3 == 2">
                        <br>
                    </ng-container>
                </ng-container>

                <hr>
            </div>
            <div *ngIf="!isNewRef" class="paddedBox">
                Select a Source:
                <br>
                <div class="existBack">
                    <div class="existOption" *ngFor="let source of previousRefs">
                        <input type="radio" name="selectedExistingSource">&nbsp;
                        {{source.identifier}} 
                    </div>
                </div>   
                <div class="existDetailBack">

                </div>             
            </div>
            <div class="quoteDiv">
                <textarea class="quoteEnter" placeholder="Enter quote here..."></textarea>
            </div>
        </div>
        <div class="dialogBottom">
            <input type="button" class="cancelButton" value="Cancel" (click)="closeDialog()">
            <input type="button" class="addButton" value="Add" (click)="addReference()">
        </div>
    </div>
</div>